; EditorConfig http://EditorConfig.org
; see http://editorconfig.org/#download for plugins for your editor

; Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
; indent style
indent_style = space

[*.js]
indent_size = 4

[*.json]
indent_size = 2

; ignore third party
[node_modules/**.js]
indent_size = N/A
indent_style = N/A
